
<div class="bg-gray-100 p-[30px]">
    <div class="flex justify-between items-center">
        <div class="text-3xl font-medium">
            스트리밍
        </div>
        <div>
            <div class="bg-accent text-white px-3.5 py-2.5 text-2xl flex justify-center items-center rounded-2xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer">
                <img src="assets/images/plus.png" alt="">
            </div>
        </div>
    </div>
    <div class="bg-white mt-[38px] p-6 rounded-2xl border-[1px] border-gray-200 ">
        <div class="flex justify-between items-center">
            <div class="px-3.5 py-2.5 rounded-2xl border-[1px] focus-within:border-accent border-gray-200 flex justify-between items-center w-full">
                <div class="flex items-center w-full">
                    <div>
                        <img src="assets/images/search.png" alt="">
                    </div>
                    <div class="ml-3 w-full">
                        <input type="text" class="outline-0 w-full" placeholder="스트리머 검색">
                    </div>
                </div>
                <div>
                      <img src="assets/images/filter.png" alt="">    
                </div>
                
            </div>
            <div class="ml-6 px-4 py-2.5 rounded-2xl border-[1px] border-gray-200 flex justify-around items-center">
                <div>
                    Actions
                </div>
                <div class="ml-2">
                    <img src="assets/images/arrowdown.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex mt-[31px] border-b-[1px] border-gray-200 pb-3">
            <div class="w-[5%] flex justify-center items-center">
                <input type="checkbox" name="" id="">
            </div>
            <div class="w-[30%]">
                스트리머
            </div>
            <div class="w-[20%]">
                방송채널                        
            </div>
            <div class="w-[20%]">
                유튜브 바로가기
            </div>
            <div class="w-[10%]">
                최근방송일
            </div>
            <div class="w-[10%]">
                ON/OFF
            </div>
            <div class="w-[5%]">
                
            </div>
        </div>
        <div class="flex border-b-[1px] border-gray-200 py-3">
            <div class="w-[5%] flex justify-center items-center">
                <input type="checkbox" name="" id="">
            </div>
            <div class="w-[30%] flex items-center">
                <img src="assets/images/avatar.png" alt="">
                <div class="ml-3.5">
                    <div>
                        우왁굳
                    </div>
                    <div class="text-gray-400">
                        @Woowakgood
                    </div>
                </div>
            </div>
            <div class="w-[20%] flex items-center text-gray-400">
                유튜브, 트위치                        
            </div>
            <div class="w-[20%] flex items-center">
                <div class="w-[133px] truncate">
                    www.youtube.com/user/woowakgood
                </div>
            </div>
            <div class="w-[10%] flex items-center text-gray-400">
                22.01.02
            </div>
            <div class="w-[10%] flex items-center ">
                <div class="bg-green-100 flex items-center justify-center text-green-600 py-[5px] px-[18px] rounded-xl text-sm">
                    Live On
                </div>
            </div>
            <div class="w-[5%] flex items-center">
                <img src="assets/images/more.png" alt="">
            </div>
        </div>
  
        <div>
  
        </div>
    </div>
  </div>