<div class="bg-gray-50 py-10 px-8">
        <div class="w-full flex justify-between items-center">
            <div>
                <div class="text-3xl font-semibold">
                    공유 아이디 관리
                </div>
                <div class="text-lg font-medium text-gray-500 py-2">
                    업무 > 공유 아이디 관리
                </div>
            </div>        
            <div>
                <div class="w-[120px] h-[48px] bg-accent text-white px-3.5 py-2.5 text-base font-bold flex justify-center items-center rounded-2xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer">
                    추가하기
                </div>
            </div>

        </div>
    <div class="my-10 mr-10 w-full h-[42px] bg-white rounded-2xl flex justify-start items-center border-gray-200 border-[1px] ">
        <div class="ml-4">
            <img src="assets/images/search.png" alt="" >
        </div>
        <div class="ml-3 text-gray-300 text-sm">
            검색 내용을 입력하세요
        </div>
    </div>
    <div class="mb-5 px-7 w-full bg-white rounded-2xl shadow-lg">
        <div class="pt-7 flex items-center justify-between">
            <div class="flex items-center">
                <div class="bg-indigo-400 text-base text-white px-2 py-1 rounded-lg">
                    스마트스토어
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    스토어관리
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    JRI 네이버 스마트스토어
                </div>
            </div>
            <div>
                <img src="assets/images/more.png" alt="" >
            </div>
        </div>
        <div class="mt-6  flex items-center">
            <div class="flex">
                <div class="text-indigo-400 text-2xl font-medium">
                    ID
                </div>
                <div class="ml-3 text-2xl font-medium w-[400px]">
                    manwofarm@naver.com
                </div>
            </div>
            <div class="flex">
                <div class="text-indigo-400 text-2xl font-medium ml-[37px]">
                    PW
                </div>
                <div class="ml-3 text-2xl font-medium">
                    88782314p*
                </div>
            </div>
            
        </div>
        <div class="mt-10 pb-7 flex items-center justify-between">
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    비고
                </div>
                <div class="w-[245px] ml-3 text-xl font-medium text-gray-500 truncate">
                    -- --
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    FAX
                </div>
                <div class="ml-3 text-xl font-medium text-gray-500">
                    062 0154 1544
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    URL
                </div>
                <div class="w-[335px] ml-3 text-xl font-medium text-gray-500 truncate">
                    http://wpsolar.cafe24.com/admin/com
                </div>
            </div>
            
        </div>
    </div>
    <div class="mb-5 px-7 w-full bg-white rounded-2xl shadow-lg">
        <div class="pt-7 flex items-center justify-between">
            <div class="flex items-center">
                <div class="bg-indigo-400 text-base text-white px-2 py-1 rounded-lg">
                    산돌구름
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    디자인-폰트
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    구름다리
                </div>
            </div>
            <div>
                <img src="assets/images/more.png" alt="" >
            </div>
        </div>
        <div class="mt-6  flex items-center">
            <div class="text-indigo-400 text-2xl font-medium">
                ID
            </div>
            <div class="ml-3 text-2xl font-medium w-[400px]">
                jusung@surhyun.com
            </div>
            <div class="text-indigo-400 text-2xl font-medium ml-[37px]">
                PW
            </div>
            <div class="ml-3 text-2xl font-medium">
                88782314p*
            </div>
        </div>
        <div class="mt-10 pb-7 flex items-center justify-between">
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    비고
                </div>
                <div class="w-[245px] ml-3 text-xl font-medium text-gray-500 truncate">
                    2022년 2월 9일 10시 40분 만료
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    FAX
                </div>
                <div class="ml-3 text-xl font-medium text-gray-500">
                    062 0154 1544
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    URL
                </div>
                <div class="w-[335px] ml-3 text-xl font-medium text-gray-500 truncate">
                    http://wpsolar.cafe24.com/admin/com
                </div>
            </div>
            
        </div>
    </div>
    <div class="mb-5 px-7 w-full bg-white rounded-2xl shadow-lg">
        <div class="pt-7 flex items-center justify-between">
            <div class="flex items-center">
                <div class="bg-indigo-400 text-base text-white px-2 py-1 rounded-lg">
                    로젠택배
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    택배관리
                </div>
                <div class="ml-7 text-lg text-gray-500 font-medium">
                    IROGEN
                </div>
            </div>
            <div>
                <img src="assets/images/more.png" alt="" >
            </div>
        </div>
        <div class="mt-6  flex items-center">
            <div class="text-indigo-400 text-2xl font-medium">
                ID
            </div>
            <div class="ml-3 text-2xl font-medium w-[400px]">
                60150107
            </div>
            <div class="text-indigo-400 text-2xl font-medium ml-[37px]">
                PW
            </div>
            <div class="ml-3 text-2xl font-medium">
                88782314p*
            </div>
        </div>
        <div class="mt-10 pb-7 flex items-center justify-between">
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    비고
                </div>
                <div class="w-[245px] ml-3 text-xl font-medium text-gray-500 truncate">
                    -- --
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    FAX
                </div>
                <div class="ml-3 text-xl font-medium text-gray-500">
                    -- --
                </div>
            </div>
            <div class="flex">
                <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                    URL
                </div>
                <div class="w-[335px] ml-3 text-xl font-medium text-gray-500 truncate">
                    -- --
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>