<div class="bg-gray-50 py-10 px-8">
        <div class="w-full flex justify-between items-center">
            <div>
                <div class="text-3xl font-semibold">
                    공유 아이디 관리
                </div>
                <div class="text-lg font-medium text-gray-500 py-2">
                    업무 > 공유 아이디 관리
                </div>
            </div>        
            <div>
                <div class="w-[120px] h-[48px] bg-accent text-white px-3.5 py-2.5 text-base font-bold flex justify-center items-center rounded-2xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer">
                    추가하기
                </div>
            </div>

        </div>
    <div class="my-10 mr-10 w-full h-[42px] bg-white rounded-2xl flex justify-start items-center border-gray-200 border-[1px] ">
        <div class="ml-4">
            <img src="assets/images/search.png" alt="" >
        </div>
        <div class="ml-3 text-gray-300 text-sm">
            검색 내용을 입력하세요
        </div>
    </div>
   <app-shareid-detail [head]="'스마트스토어'" [object]="'스토어관리'" [company]="'JRL 네이버 스마트스토어'" [id]="'manwofarm@naver.com'" [password]="'88782314p*'" [reference]="'-- --'" [fax]="'062 0154 1544'" [url]="'http://wpsolar.cafe24.com/admin/com'"></app-shareid-detail>
   <app-shareid-detail [head]="'산들구름'" [object]="'디자인-폰트'" [company]="'구름다리'" [id]="'jusung@surhyun.com'" [password]="'88782314p*'" [reference]="'2022년 2월 9일 10시 40분'" [fax]="'062 0154 1544'" [url]="'http://wpsolar.cafe24.com/admin/com'"></app-shareid-detail>
   <app-shareid-detail [head]="'로젠택배'" [object]="'택배관리'" [company]="'IROGEN'" [id]="'60150107'" [password]="'88782314p*'" [reference]="'-- --'" [fax]="'-- --'" [url]="'-- --'"></app-shareid-detail>
   
    
</div>