<div class="flex h-screen w-full">
  <div class="w-[270px] bg-accent px-6 py-4 text-white text-sm" *ngIf="menushow">
      <div class="h-[66px] flex items-center">
          <img src="assets/images/lepisode.png" alt="">
          <div class="ml-4 text-base">
            백오피스
          </div>
      </div>
      <app-menu></app-menu>
<!--       
      <div class="h-[56px] flex items-center cursor-pointer" [routerLink]="['streaming']">
          <img src="assets/images/cart.png" alt="">
          <div class="ml-3">
              자주 사용하는 사이트
          </div>
      </div>
      <div class="h-[56px] flex items-center cursor-pointer" [routerLink]="['schedule']">
          <img src="assets/images/calender.png" alt="">
          <div class="ml-3">
              스케줄
          </div>
      </div>
      <div class="h-[56px] flex items-center">
          <img src="assets/images/mail.png" alt="">
          <div class="ml-3">
              메일
          </div>
      </div> -->
      
  </div>
  <div class="w-full">
      <div class="px-7 flex justify-between items-center h-[66px] border-b-[1px] border-gray-200">
          <div (click)="menushow=!menushow" class="cursor-pointer">
              <img src="assets/images/menu.png" alt="">
          </div>
          <div class="flex justify-center items-center">
              <div>
                  <img src="assets/images/search.png" alt="">
              </div>
              <div class="ml-5">
                  <img src="assets/images/bell.png" alt="">
              </div>
              <div class="ml-5">
                  <img src="assets/images/divider.png" alt="">
              </div>
              <div class="ml-5">
                  <img src="assets/images/avatar.png" alt="">
              </div>
              <div class="ml-3">
                    Mana_ara
              </div>
              
              <div class="space-y-6 flex items-start justify-center">
                <div (click)="arrowdown=!arrowdown" class="ml-5 cursor-pointer">
                    <img src="assets/images/arrowdown.png" alt="">
                </div>
                <div class="mr-12 absolute w-[120px] bg-gray-600 opacity-70 rounded-lg p-2 text-center flex justify-center items-center" *ngIf="arrowdown">
                    <div class="text-sm text-white space-y-2">
                        <div>
                            비밀번호 변경
                        </div>
                        <div>
                            로그아웃
                        </div>
                        
                    </div>
                </div>
              </div>
              
              
          </div>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
