<div class="mb-5 px-7 w-full bg-white rounded-2xl shadow-lg">
    <div class="pt-7 flex items-center justify-between">
        <div class="flex items-center">
            <div class="bg-indigo-400 text-base text-white px-2 py-1 rounded-lg">
                {{ shareids.head }}
            </div>
            <div class="ml-7 text-lg text-gray-500 font-medium">
                {{ shareids.object }}
            </div>
            <div class="ml-7 text-lg text-gray-500 font-medium">
                {{ shareids.company }}
            </div>
        </div>
        <div>
            <img src="assets/images/more.png" alt="" >
        </div>
    </div>
    <div class="mt-6  flex items-center">
        <div class="flex">
            <div class="text-indigo-400 text-2xl font-medium">
                ID
            </div>
            <div class="ml-3 text-2xl font-medium w-[400px]">
                {{ shareids.id }}
            </div>
        </div>
        <div class="flex">
            <div class="text-indigo-400 text-2xl font-medium ml-[37px]">
                PW
            </div>
            <div class="ml-3 text-2xl font-medium">
                {{ shareids.password }}
            </div>
        </div>
        
    </div>
    <div class="mt-10 pb-7 flex items-center justify-between">
        <div class="flex">
            <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                비고
            </div>
            <div class="w-[245px] ml-3 text-xl font-medium text-gray-500 truncate">
                {{ shareids.reference }}
            </div>
        </div>
        <div class="flex">
            <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                FAX
            </div>
            <div class="ml-3 text-xl font-medium text-gray-500 w-[140px]">
                {{ shareids.fax }}
            </div>
        </div>
        <div class="flex">
            <div class="px-2 py-1 bg-gray-100 text-gray-500 text-base font-medium rounded-lg">
                URL
            </div>
            <div class="w-[335px] ml-3 text-xl font-medium text-gray-500 truncate">
                {{ shareids.url }}
            </div>
        </div>
        
    </div>
</div>