<div class="bg-gray-50 py-10 px-8">
    <div>
        <div class="flex justify-between items-center">
        <div>
            <div class="text-3xl font-semibold">
                프로젝트 관리
            </div>
            <div class="text-lg font-medium text-gray-500 py-2">
                업무 > 프로젝트 관리
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div>
                <div class="w-[69px] h-[28px] bg-accent text-white text-lg font-medium flex justify-center items-center rounded-xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer">
                    Today
                </div>
            </div>
            <div class="text-lg text-gray-700 font-bold px-3">
                2021-01-02, Tuesday
            </div>
            <div class="ml-8">
                <div class="w-[120px] h-[48px] bg-accent text-white px-3.5 py-2.5 text-base font-bold flex justify-center items-center rounded-2xl hover:bg-blue-600 hover:shadow-2xl select-none cursor-pointer">
                    추가하기
                </div>
            </div>
        </div>
        
        </div>
    </div>
    <app-project-detail [projects]="project_waits"> </app-project-detail>
    <app-project-detail [projects]="project_ings"> </app-project-detail>
    <app-project-detail [projects]="project_completes"> </app-project-detail>
    
   
   
  </div>