<div class="ml-3 flex justify-center items-start relative" (appOutsideClick)="isOpen=!$event" >
    <img src="assets/images/more.png" alt="">   
    <div class="absolute mt-4 right-5 p-2 bg-white w-[123px] h-auto rounded-xl shadow-lg" *ngIf="isOpen">
        <div class="p-1.5 flex justify-start items-center">
            <div class="flex items-center">
                <img src="assets/images/pen.png" alt="">
            </div>
            <div class="text-gray-500 text-base ml-2">
                수정
            </div>
        </div>
        <div class="p-1.5 flex justify-start items-center"> 
            <div class="flex items-center">
                <img src="assets/images/trashcan.png" alt="">
            </div>
            <div class="text-gray-500 text-base ml-2">
                삭제
            </div>
        </div>
    </div>
</div>